body {
    background-image: url('../../public/img/sea-2755908.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', Arial, sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.home {
    padding: 20px;
    border-radius: 40px;
    width: 70%;
    margin-left: 5rem;
    color: white;
}

h1 {
    margin: 10px;
    font-size: 5rem;
    margin-bottom: 5rem;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 1s forwards;
}

p {
    margin: 10px;
    font-size: 2rem;
}

span {
    margin-bottom: 10px;
    display: block;
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
}

span:nth-child(1) {
    animation-delay: 3.5s;
}

span:nth-child(2) {
    animation-delay: 6.5s;
}

span:nth-child(3) {
    animation-delay: 9.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
