.homeContainer {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: url('../../public/img/sea-2755908.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    color: white;
    padding-left: 7%;
    padding-right: 62%;
}

.homeHeader {
    opacity: 0;
    animation: fadeIn 2s ease-in-out 2.5s forwards;
    font-size: 5rem;
    padding-bottom: 5rem;
    padding-top: 12rem;
    margin-bottom: 0;
}

.homeText {
    display: block;
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
    font-size: 2rem;
    line-height: 2rem;
}

.homeSen1 {
    width: 100%;
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
    animation-delay: 4.5s;
    padding-bottom: 4rem;
    margin-bottom: 0;
}

.homeSen2 {
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
    animation-delay: 7s;
    padding-bottom: 4rem;
    margin-bottom: 0;
}

.homeSen3 {
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
    animation-delay: 9s;
    padding-bottom: 5rem;
    margin-bottom: 0;
}

.homeCanvas {
    opacity: 0;
    animation: fadeIn 5s ease-in-out 11s forwards;
    width: 90%
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
