.homeContainer {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    /* background-repeat: repeat; */
    background-image: url('../../public/img/sea-2755908.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 16px;
}

.homeHeader {
    opacity: 0;
    animation: fadeIn 2s ease-in-out 2.5s forwards;
    font-size: 4.75em;
    padding-bottom: 0.75em;
    padding-top: 1.5em;
    margin-bottom: 0;
    padding-right: 65%;
}

.homeText {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
    font-size: 2em;
    line-height: 1.5em;
    padding-right: 67%;
}

.homeText:nth-child(1) {
    width: 100%;
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
    animation-delay: 4.5s;
    padding-bottom: 2em;
    margin-bottom: 0;
}

.homeText:nth-child(2) {
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
    animation-delay: 7s;
    padding-bottom: 2em;
    margin-bottom: 0;
}

.homeText:nth-child(3) {
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
    animation-delay: 9s;
    padding-bottom: 2em;
    margin-bottom: 0;
}

.homeCanvas {
    opacity: 0;
    animation: fadeIn 5s ease-in-out 11s forwards;
    padding-right: 65%;
    width: 95%
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
