.navbar {
    padding: 0;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.navbar ul {
    list-style-type: none; /* Remove the bullet point symbols */
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex; /* Enable the following setting */
    justify-content: flex-start;
}

.navbar li {
    padding: 1.5em; /* Add margin between buttons */
}

.navBox {
    box-sizing: border-box;
    width: 7em;
    height: 2.5em;
    display: flex; /* Enable the two following settings */
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.4em;
    position: relative;
    cursor: pointer;
}

.navBox a {
    text-decoration: none; /* Remove the underscores */
    color: white;
    z-index: 1;
}

.navBox::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: rgb(0, 0, 0, 0.5);
    z-index: -1;
    transition: transform 0.3s;
}

.navBox:hover a {
    color: peru;
}

.navBox:hover::after {
    transform: scaleY(1);
    border-left: 0.5em solid peru;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
