.signupBackground {
    box-sizing: border-box;
    background-image: url('../../public/img/rice-field-3490060.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    min-height: 100vh;
    padding-left: 7%;
    padding-right: 7%;
    color: white;
}

.signupContainer {
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 2em;
    backdrop-filter: blur(3px);
    padding: 3em 4em 2em 4em;
    margin: 5em 38% 0 38%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.signupContainer:focus-within {
    border-radius: 2em;
    background-color: rgb(0, 0, 0, 0.6);
    transition: background-color 0.3s;
}

.signupHeader {
    display: flex;
    justify-content: center;
    font-size: 4.75em;
    margin-bottom: 0.5em;
}

.signupInput {
    background: transparent;
    color: white;
    border: none;
    width: 100%;
    padding-bottom: 0.5em;
    margin-bottom: 3em;
    border-bottom: solid 0.1em white;
    position: relative;
}

.signupInput label {
    position: absolute;
    font-size: 1.2em;
    z-index: -1;
    transform: translateY(0);
    color: white;
    pointer-events: none;
    transition: 0.3s ease;
    left: 0;
}

.signupInput input {
    border: none;
    color: white;
    background: transparent;
    outline: none;
    width: 85%;
}

.signupInput input:focus ~ label, .signupInput input:valid ~ label {
    transform: translateY(-1.5em);
}

.signupInput ion-icon {
    font-size: 1.3em;
    padding-left: 1em;
}

.signupButton {
    border-radius: 4em;
    color: black;
    display: block;
    background: white;
    border: none;
    height: 3em;
    width: 100%;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 1.5em;
    font-weight: 700;
    margin-bottom: 1.5em;
}

.signupLogin a{
    margin-left: 0.2em;
    color: white;
    font-weight: 700;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
